<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>16425504237-jltunaotgijp7drevput88j0isfbf5fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16425504237-jltunaotgijp7drevput88j0isfbf5fs</string>
	<key>API_KEY</key>
	<string>AIzaSyA2CKaJabtEKYM0jZ5vQw3sZNgvlo9bhEs</string>
	<key>GCM_SENDER_ID</key>
	<string>16425504237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.integration.Maps</string>
	<key>PROJECT_ID</key>
	<string>maps-201300</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-201300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16425504237:ios:2fb4a814dc3a5c4b</string>
	<key>DATABASE_URL</key>
	<string>https://maps-201300.firebaseio.com</string>
</dict>
</plist>